<h2>Profile of <%= @user.username %></h2>

<div id="hosted-events">
  <h3>Hosted Events:</h3>
  <% @user.hosted_events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= render 'events/attended_events' %>

<%= link_to 'Root', root_path %>