
<h1>Events</h1>

<div id="events">
  <h2>Future Events:</h2>
    <% @events.future.each do |event| %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
  <h2>Past Events:</h2>
    <% @events.past.each do |event| %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
</div>

<%= link_to "New event", new_event_path %>

<%= link_to "Profile", {controller: 'users', action: :show, id: current_user.id} %>
<%= button_to 'Log out', destroy_user_session_path, method: :delete %>


