<div class="event-index-content">
  <div class="image-wrapper">
    <%= image_tag 'index-pic2.jpg', class: 'index-pic' %>
  </div>
  <div id="top-of-site-pixel-anchor"></div>
  <div class="upcoming-events">
    <h2>Upcoming Events:</h2>
    <div class="upcoming-events-container events-container">
      <% @events.future.each do |event| %>
        <%= link_to event do %>
          <%= render event %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="past-events">
    <h2>Past Events:</h2>
    <div class="past-events-container events-container">
      <% @events.past.each do |event| %>
        <%= link_to event do %>
          <%= render event %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
