<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if alert || notice %>
      <div class="alerts-and-notices">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.received_invites.size != nil%>
      <strong>Invites:</strong>
      <% current_user.received_invites.each do |invitation| %>
      <%= render invitation %>
      <p>
        <%= link_to "Show this invitation", invitation %>
      </p>
    <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
